# Ignore Umbraco folders (Generated folders created by Umbraco)
ClientDependency/
TEMP/
Logs/
Cached/
ExamineIndexes/

# Ignore Umbraco content cache file
umbraco.config
ucreate.json
**/bin
**/obj
packages/*/*
.sass-cache
node_modules
NuGetBackup
dummy.txt

# Ignore .net user files
*.suo
*.user
*.sln.docstates
